name: practica
on: 
  push:
    branches: [main]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Chechout
        uses: actions/checkout@v6
      - name: Setup python :)
        uses: actions/setup-python@v6
        with:
            python-version: '3.11'
      - name: Run action
        run: python ./Prueba.py
    
